*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body{
background-color: rgb(17, 104, 104);
}

.App{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo-contenedor{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.logo-sofly{
height: 50px;
}